body {
  margin: 0;
}

.c-play {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.c-play-players-area {
  position: relative;
  min-width: 320px;
  min-height: 320px;
  max-width: 450px;
  max-height:450px;
  width: 100%;
  height: 100%;
}
.c-play-players-area::before {
  content: '';
  position: absolute;
  top: calc(-50px - 10vw);
  bottom: calc(-50px - 10vw);
  left: calc(-50px - 10vw);
  right: calc(-50px - 10vw);
  width: calc(300px + 10vw);
  height: calc(300px + 10vw);
  margin: auto;
  border: 10px solid lightgray;
  border-radius: 50%;
}
.c-play-inner-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.c-players-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
}
.c-player-name {
  font-size: 1.5em;
}
.c-player {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 25px;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .2);
  background-color: #669966;
}
.c-player.c-player--active {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .2), 0 0 0 12px rgba(0, 0, 255, .3);
}
.c-player-coin::before {
  content: 'X';
}

.c-carousel-item {
  position: absolute;
  transform: rotate(0deg) translate(0) rotate(-0deg);
  transition: transform 1s;
}
.c-carousel-item:only-child {
  transform: rotate(180deg) translate(calc(100% + 10vw)) rotate(-180deg);
}

.c-carousel-item:first-child:nth-last-child(2):nth-child(1),
.c-carousel-item:first-child:nth-last-child(2) ~ .c-carousel-item:nth-child(1) {
  transform: rotate(calc(180deg - 30deg)) translate(calc(100% + 10vw)) rotate(calc(-1 * (180deg - 30deg)));
}
.c-carousel-item:first-child:nth-last-child(2):nth-child(2),
.c-carousel-item:first-child:nth-last-child(2) ~ .c-carousel-item:nth-child(2) {
  transform: rotate(calc(180deg + 30deg)) translate(calc(100% + 10vw)) rotate(calc(-1 * (180deg + 30deg)));
}

.c-carousel-item:first-child:nth-last-child(3):nth-child(1),
.c-carousel-item:first-child:nth-last-child(3) ~ .c-carousel-item:nth-child(1) {
  transform: rotate(calc(180deg - 45deg)) translate(calc(100% + 10vw)) rotate(calc(-1 * (180deg - 45deg)));
}
.c-carousel-item:first-child:nth-last-child(3):nth-child(2),
.c-carousel-item:first-child:nth-last-child(3) ~ .c-carousel-item:nth-child(2) {
  transform: rotate(180deg) translate(calc(100% + 10vw)) rotate(-180deg);
}
.c-carousel-item:first-child:nth-last-child(3):nth-child(3),
.c-carousel-item:first-child:nth-last-child(3) ~ .c-carousel-item:nth-child(3) {
  transform: rotate(calc(180deg + 45deg)) translate(calc(100% + 10vw)) rotate(calc(-1 * (180deg + 45deg)));
}

.c-carousel-item:first-child:nth-last-child(4):nth-child(1),
.c-carousel-item:first-child:nth-last-child(4) ~ .c-carousel-item:nth-child(1) {
  transform: rotate(90deg) translate(calc(80% + 10vw)) rotate(-90deg);
}
.c-carousel-item:first-child:nth-last-child(4):nth-child(2),
.c-carousel-item:first-child:nth-last-child(4) ~ .c-carousel-item:nth-child(2) {
  transform: rotate(180deg) translate(calc(80% + 10vw)) rotate(-180deg);
}
.c-carousel-item:first-child:nth-last-child(4):nth-child(3),
.c-carousel-item:first-child:nth-last-child(4) ~ .c-carousel-item:nth-child(3) {
  transform: rotate(270deg) translate(calc(80% + 10vw)) rotate(-270deg);
}
.c-carousel-item:first-child:nth-last-child(4):nth-child(4),
.c-carousel-item:first-child:nth-last-child(4) ~ .c-carousel-item:nth-child(4) {
  transform: rotate(0deg) translate(calc(80% + 10vw)) rotate(-0deg);
}

.c-carousel-item:first-child:nth-last-child(5):nth-child(1),
.c-carousel-item:first-child:nth-last-child(5) ~ .c-carousel-item:nth-child(1) {
  transform: rotate(72deg) translate(calc(80% + 10vw)) rotate(-72deg);
}
.c-carousel-item:first-child:nth-last-child(5):nth-child(2),
.c-carousel-item:first-child:nth-last-child(5) ~ .c-carousel-item:nth-child(2) {
  transform: rotate(144deg) translate(calc(80% + 10vw)) rotate(-144deg);
}
.c-carousel-item:first-child:nth-last-child(5):nth-child(3),
.c-carousel-item:first-child:nth-last-child(5) ~ .c-carousel-item:nth-child(3) {
  transform: rotate(216deg) translate(calc(80% + 10vw)) rotate(-216deg);
}
.c-carousel-item:first-child:nth-last-child(5):nth-child(4),
.c-carousel-item:first-child:nth-last-child(5) ~ .c-carousel-item:nth-child(4) {
  transform: rotate(288deg) translate(calc(80% + 10vw)) rotate(-288deg);
}
.c-carousel-item:first-child:nth-last-child(5):nth-child(4),
.c-carousel-item:first-child:nth-last-child(5) ~ .c-carousel-item:nth-child(5) {
  transform: rotate(0deg) translate(calc(80% + 10vw)) rotate(-0deg);
}

.c-carousel-item:first-child:nth-last-child(6):nth-child(1),
.c-carousel-item:first-child:nth-last-child(6) ~ .c-carousel-item:nth-child(1) {
  transform: rotate(60deg) translate(calc(80% + 10vw)) rotate(-60deg);
}
.c-carousel-item:first-child:nth-last-child(6):nth-child(2),
.c-carousel-item:first-child:nth-last-child(6) ~ .c-carousel-item:nth-child(2) {
  transform: rotate(120deg) translate(calc(80% + 10vw)) rotate(-120deg);
}
.c-carousel-item:first-child:nth-last-child(6):nth-child(3),
.c-carousel-item:first-child:nth-last-child(6) ~ .c-carousel-item:nth-child(3) {
  transform: rotate(180deg) translate(calc(80% + 10vw)) rotate(-180deg);
}
.c-carousel-item:first-child:nth-last-child(6):nth-child(4),
.c-carousel-item:first-child:nth-last-child(6) ~ .c-carousel-item:nth-child(4) {
  transform: rotate(240deg) translate(calc(80% + 10vw)) rotate(-240deg);
}
.c-carousel-item:first-child:nth-last-child(6):nth-child(4),
.c-carousel-item:first-child:nth-last-child(6) ~ .c-carousel-item:nth-child(5) {
  transform: rotate(300deg) translate(calc(80% + 10vw)) rotate(-300deg);
}
.c-carousel-item:first-child:nth-last-child(6):nth-child(4),
.c-carousel-item:first-child:nth-last-child(6) ~ .c-carousel-item:nth-child(6) {
  transform: rotate(0deg) translate(calc(80% + 10vw)) rotate(-0deg);
}
