body {
  margin: 0;
}

.c-player-name {
  font-size: 1.5em;
}

.c-player.c-player--active {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .2), 0 0 0 12px rgba(0, 0, 255, .3);
}
.c-player-coin::before {
  content: 'X';
}
