* {
  box-sizing: border-box;
}

#c-player-area .c-player-view, #c-action-area .c-player-view {
  display: block;
  float: left;
  margin: 5px;
  padding: 5px;
  height: 160px;
  width: 100px;
  background-color: gray;
  vertical-align: middle;
}

.c-player-influences img {
  width: 45%;
  margin: 2.5%;
  float: left;
  background-color: green;
}

.eliminated {
  background-color: red;
}

.c-player-choice-view {
  float: left;
}

.c-landing-view {
  width: 100%;
}

.c-landing-view > div {
  vertical-align: top;
}

#c-login-area {
  width: 50%;
  float: left;
}

#c-create-game-area {
  width: 50%;
  float: left;
}

.c-game-card {
  float: left;
}

.c-group:after {
  content: "";
  display: table;
  clear: both;
}

.c-game-view input[type='radio'] {
  float: left;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
