<div class="c-login-form">
  <form>
    <div class="c-input-group">
      <label for="c-login-form-username">Choose your username</label>
      <input type="text" id="c-login-form-username" />
    </div>
    <div class="c-login-rooms">
      <h3>Rooms</h3>
      <p>Choose a room to join</p>
      <select multiple="multiple">
      </select>
    </div>
    <div class="c-login-users">
      <h3>Users<h3>
        <ul>
        {#each users}
          <li>{{name}}</li>
        {/each}
        </ul>
    </div>
    <input type="button" value="Join" />
  </form>
</div>
