<h3>Create a new game</h3>
<form>
  <div class="c-form-field">
    <label for="create-game-username">Your Username</label>
    <input type="text" id="create-game-username" />
  </div>
  <div class="c-form-field">
    <label for="create-game-title">Game Title</label>
    <input type="text" id="create-game-title" />
  </div>
  <div class="c-form-field">
    <label for="create-game-capacity">Number of Players</label>
    <select id="create-game-capacity">
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <input type="button" value="Create Game" />
</form>
